<img src="{{randomBeer.image_url}}"></img>
<h3>{{randomBeer.name}}</h3>
<p>{{randomBeer.description}}</p>
<p>{{randomBeer.tagline}}</p>
<ul>
    {{randomBeer.food_pairing}}
</ul>
<p>{{randomBeer.brewers_tips}}</p>
